<div class="header-content header">
    <div class="container"><!-- container header-->
        <div class="row">
            <ul class="list-inline rsx">
                <li><img src="{{ asset('images/facebook.ico') }}" alt="" class="img-responsive"></li>
                <li><img src="{{ asset('images/google_plus.ico') }}" alt="" class="img-responsive"></li>
                <li><img src="{{ asset('images/twitter2.ico') }}" alt="" class="img-responsive"></li>
                <li><img src="{{ asset('images/youtube.png') }}" alt="" class="img-responsive"></li>
            </ul>
        </div>
    </div>
</div>

<div class="beforeheader">
    <div class="container-fluid">
        <div class="row pull-right logo-tic">
            <a href=""  target="_blank" escape="false">
                <img src="" class="img-responsive" alt="GroupeSitel" height="200px">
            </a>
        </div>
    </div>
</div><!--end beforeheader -->

<div class="navbar navbar navbar" role="navigation" id="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <!-- <div class="collapse navbar-collapse"> -->

            <ul class="nav navbar-nav">
                <li><a href="#" class="glyphicon glyphicon-home">Home</a></li>
                <li><a href="#" class="glyphicon glyphicon-bookmark">Groupe Sitel</a></li>
                <li><a href="#" class="glyphicon glyphicon-share">Nos Services</a></li>
                <li><a href="#" class="glyphicon glyphicon-bookmark">Nos Clients</a></li>
                <li><a href="#" class="glyphicon glyphicon-list">Nos Partenaires</a></li>
                <li><a href="#" class="glyphicon glyphicon-envelope">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" class="glyphicon glyphicon-user">connexion</a></li>
                <li><a href="#" class="glyphicon glyphicon-inbox">Inscription</a></li>
            </ul>
        </nav>
    </div>
</div>

<div class="container-fluid">
    <div class="row endbeforeheader">
    </div>
</div>

