<div class="dvl-services">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="dvl-srv-hd wow fadeIn animated" data-wow-delay=".2s">Our Software Development Services </h2>
                <p class="dvl-srv-desc wow fadeIn animated" data-wow-delay=".1s">Our offshore software development services are geared to deliver results that you expect from outsourcing IT services to India. <br> <span style="text-decoration:underline;">Truthfulness</span>, <span style="text-decoration:underline;">transparency</span>  and  <span style=" text-decoration:underline;">collaborative approach</span> is a start!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <div class="dvl-src-panel-new wow fadeIn animated" data-wow-delay=".1s">
                    <a target="_blank" href="application-development">
                        <span class="box_icon1"></span>
                        <strong>
                            <p class="box_heading">WEB/MOBILE SOFTWARE DEVELOPMENT </p>
                            <p class="box_descp">We build high performance software applications for both web & mobile leveraging the best of platform capabilities and offering a premium user-experience.</p>
                        </strong>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="dvl-src-panel-new wow fadeIn animated" data-wow-delay=".1s">
                    <a target="_blank" href="application-maintenance">
                        <span class="box_icon2"></span>
                        <strong>
                            <p class="box_heading">APPLICATION MAINTENANCE</p>
                            <p class="box_descp">Sustain your existing software applications & reduce maintenance costs. We help you focus on your business and leave the headache of ongoing application maintenance to us. </p>
                        </strong>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="dvl-src-panel-new wow fadeIn animated" data-wow-delay=".1s">
                    <a target="_blank" href="application-modernization">
                        <span class="box_icon3"></span>
                        <strong>
                            <p class="box_heading">APPLICATION MODERNIZATION</p>
                            <p class="box_descp">Transform legacy applications to state of art technologies and modern architecture to stay relevant and deliver greater business value.</p>
                        </strong>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="dvl-src-panel-new wow fadeIn animated" data-wow-delay=".1s">
                    <a target="_blank" href="dedicated-development-teams">
                        <span class="box_icon4"></span>
                        <strong>
                            <p class="box_heading">DEDICATED SOFTWARE DEVELOPMENT TEAMS</p>
                            <p class="box_descp">ValueCoders  provides highly reliable dedicated development teams who have vast experience and expertise in latest web and mobile software development technologies required for any project.</p>
                        </strong>
                    </a>
                </div>
            </div>

            <!--<div class="col-sm-6 col-xs-12">
                <div class="dvl-src-panel-new wow fadeIn animated" data-wow-delay=".1s">
                        <a target="_blank" href="co-development">
                            <span class="box_icon5"></span>
                            <strong>
                                <p class="box_heading">CO DEVELOPMENT SERVICES</p>
                                <p class="box_descp">Our expert Co-development teams focus on building high performance software that take full advantage of web and mobile technologies, perform well, and provide a premium user experience.</p>
                            </strong>
                        </a>
                </div>
            </div>-->
            <!--<div class="col-sm-6 col-xs-12">
                <div class="dvl-src-panel-new wow fadeIn animated" data-wow-delay=".1s">
                        <a target="_blank" href="dedicated-development-teams">
                            <span class="box_icon6"></span>
                            <strong>
                                <p class="box_heading">HIRE DEDICATED DEVELOPMENT TEAMS</p>
                                <p class="box_descp">ValueCoders  provides highly reliable dedicated development teams who have vast experience and expertise in latest Web and Mobile development technologies required for any project.</p>
                            </strong>
                        </a>
                </div>
            </div>-->
            <div class="col-sm-6 col-xs-12"></div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="discuss_rqrmnt">
                    <h3>Do you need software development services or have outsourcing requirements? </h3>
                    <a class="btn btn-discuss-reqr wow fadeInDown animated" data-wow-delay=".1s" href="contact">Request Free Consultation <!-- <span>Guaranteed response within 1 business day.</span> --></a>
                </div>
            </div>
        </div>


    </div>
</div>




<div class="client_foucus_sec">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="client_focus_inner">
                    <h2 class="wow fadeIn animated" data-wow-delay=".2s">Client Focus</h2>
                    <p class="wow fadeIn animated" data-wow-delay=".3s">We deliver custom Web &amp; Mobile Application Development Services for Startups, SMBs and Agencies since 2004.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="client_box wow rotateInDownLeft animated" data-wow-delay=".1s">
                    <div class="client_box_hd">Startup Businesses</div>
                    <ul>
                        <li>Fixed price estimates</li>
                        <li>Iterative prototyping services for fast delivery of a fully verified MVP</li>
                        <li>Dedicated scrum masters and advanced Agile delivery practices</li>
                        <li>Capacity to rapidly grow the web &amp; mobile app development teams</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="client_box wow rotateInDownLeft animated" data-wow-delay=".1s">
                    <div class="client_box_hd">Digital Agencies &amp; ISVs </div>
                    <ul>
                        <li>Tested and Proven environment optimization techniques</li>
                        <li>Flexible engagement models for varying delivery risks</li>
                        <li>Capacity to support an ongoing stream of projects</li>
                        <li>Hands-on project delivery experience with value-added services</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="client_box wow rotateInDownLeft animated" data-wow-delay=".1s">
            <div class="client_box_hd">Enterprises &amp; Governments</div>
                    <ul>
                        <li>Professional consulting and assistance for large agencies</li>
                        <li>Process transparency and contracting engagements</li>
                        <li>Adherence to standards and regulations for government projects</li>
                        <li>Enabling effective cross-enterprise orchestration of existing IT investments</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>




<div class="testimonial-client" style="background-color: #fff;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h4 class="client-hd wow fadeIn animated" data-wow-delay=".2s">See why our clients love to work with us</h4>
            </div>
        </div>
        <div class="carousel slide" id="myCarousel">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <div class="row">
                                <div class="col-sm-2">
                                    <div class="clint-img">
                                        <img src="{{ asset('images/user_1.png') }}" alt="user" />
                                    </div>
                                </div>
                                <div class="col-sm-10">
                                    <div class="client-text">
                                        <p class="client_speak">Performance of ValueCoders on our project was exceptional. The software development services provided by them were of high quality and strictly according to the schedule. The project was completed within our budget. The work was done efficiently and professionaly. It was a right decision to hire an IT outsourcing company like ValueCoders.	</p>

                                        <p class="client_name">- Mayer</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="row">
                                <div class="col-sm-2">
                                    <div class="clint-img">
                                        <img src="{{ asset('images/user_1.png') }}" alt="user" />
                                    </div>
                                </div>
                                <div class="col-sm-10">
                                    <div class="client-text">
                                        <p class="client_speak">Working with the ValueCoders' software development team has been an outstanding experience. They were great communicators at every stage of development unlike my previous software outsourcing company. The delivery made was beyond expectation. We are glad to have worked with such a software development company and hope to work together on future projects.</p>

                                        <p class="client_name">- Gary Wolff</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /Slide1 -->
                <div class="item">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <div class="row">
                                <div class="col-sm-2">
                                    <div class="clint-img">
                                        <img src="{{ asset('images/user_1.png') }}" alt="user" />
                                    </div>
                                </div>
                                <div class="col-sm-10">
                                    <div class="client-text">
                                        <p class="client_speak">With ValueCoders's IT outsourcing services, I have experienced a lot of 'firsts'. I noticed that they never shied away from innovating especially with technologies that were a bit old. Their belief in the power of combination and permutation is astounding as they took the best of all.</p>

                                        <p class="client_name">- Daisy Banks</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="row">
                                <div class="col-sm-2">
                                    <div class="clint-img">
                                        <img src="{{ asset('images/user_1.png') }}" alt="user" />
                                    </div>
                                </div>
                                <div class="col-sm-10">
                                    <div class="client-text">
                                        <p class="client_speak">I am looking forward to work with ValueCoders in the near future. ValueCoders, through their exceptional service culture, has found a place in our provider list despite them being new to us. They took the least time to impress.</p>

                                        <p class="client_name">- Eddie May</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /Slide2 -->
            </div>


            <nav class="carosel-btn">
                <ul class="control-box">
                    <li>
                        <a data-slide="prev" href="#myCarousel" class=""><i class="fa fa-angle-left" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a data-slide="next" href="#myCarousel" class=""><i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- /.control-box -->

        </div><!-- /#myCarousel -->

    </div>
</div>
